* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

body{
    display: flex;
    flex-flow: wrap;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid black;
    flex-flow: row wrap;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 20px;
}

header nav ul li:last-child{
    padding-right: 0;
}

aside {
    width: 20%;
    padding: 40px;
    border-right: 2px solid black;
}

aside ul {
    list-style: none;
}

main {
    padding: 40px;
    width: 80%;
}

main section div {
    display: flex;
    padding-bottom: 40px;
    align-items: center;

}

main section div img {
    margin-right: 20px;
}





