// ! Imports ------------------------------>

@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// ! Reset ------------------------------>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-bottom: 50px;
}

.wrapper {
    padding: 40px;
    margin-bottom: 50px;

    h2 {
        margin-bottom: 40px;
        font-weight: 500;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

// ! Ejercicios ------------------------------>

// ! Meter

.meter {
    background-color: $meterBacol;
    border-radius: 30px;
    height: 200px;
    max-width: 48px;
    padding: 20px 0;

    .range {
        position: relative;
        height: 100%;
        width: 100%;

        .levels {
            background: linear-gradient($supreme, $excellent, $good);
            border-radius: 30px;
            height: 100%;
            max-width: 20px;
            margin: 0 auto;

            .needle {
                position: absolute;
                bottom: 90%;
                left: 0;
                border-radius: 10px;
                height: 4px;
                width: 100%;
                background-color: $needleBacol;
            }
        }
    }
}




// ! Gauge



.gauge {
    height: 80px;
    max-width: 158px;
}

.gauge-body {
    background: linear-gradient(90deg, $good, $excellent, $supreme);
    height: 100%;
    border-top-left-radius: $semiCircle;
    border-top-right-radius: $semiCircle;
    border-top: $coverBorder;
    border-left: $coverBorder;
    border-right: $coverBorder;
    position: relative;
}

.gauge-cover {
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 70%;
    width: 70%;
    background-color: $bg;
    transform: translateX(-50%);
    border-top-left-radius: $semiCircle;
    border-top-right-radius: $semiCircle;
    border-top: $coverBorder;
    border-left: $coverBorder;
    border-right: $coverBorder;
}

.gauge-needle-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    transform-origin: center bottom;
    transition: all 0.5s ease-in-out;
    transform: rotate(0deg);
}

.gauge-needle-wrapper__needle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}




// ! Card




.card {
    display: block;
    color: inherit;
    text-decoration: none;
    max-width: 280px;
    box-shadow: 2px 2px 6px rgba(163, 163, 163, 0.521);
    padding: 20px;
    border-radius: 10px;
}

.card__header {
    margin-bottom: 20px;

    h3 {
        font-size: 14px;
    }
}

.card__img {
    height: 180px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;

    img {
        width: 100%;
        transition: all 0.2s ease-in-out;
    }
}

.card__description {
    margin-bottom: 20px;
}

// ! Para acceder a la imagen cuando hacemos hover en la card.
.card:hover .card__img img {
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
}

// ! El modal por defecto no se tiene que poder ver. Le vamos a agregar una clase con JS cuando se abra que lo muestre.
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.247);
    z-index: 1;
    display: none;
}

// ! Esta es la clase que activa el overlay.
.overlay-active {
    display: block;
}
