<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <img src="http://via.placeholder.com/50x50" alt="placeholder">
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>
    <aside>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
            <li>item 6</li>
            <li>item 7</li>
            <li>item 8</li>
        </ul>
    </aside>
    <main>
        <section>
            <div>
                <img src="http://via.placeholder.com/250x200" alt="placeholder">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ipsa doloribus quod eius velit beatae recusandae! Necessitatibus, officia quia molestiae rerum nesciunt facilis enim, quisquam vel delectus provident vitae nam.</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/250x200" alt="placeholder">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eaque quidem consectetur blanditiis ducimus repudiandae. Sequi reprehenderit, exercitationem nam optio nihil quisquam fugit debitis reiciendis corporis quod laudantium quasi a!</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/250x200" alt="placeholder">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eaque quidem consectetur blanditiis ducimus repudiandae. Sequi reprehenderit, exercitationem nam optio nihil quisquam fugit debitis reiciendis corporis quod laudantium quasi a!</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/250x200" alt="placeholder">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eaque quidem consectetur blanditiis ducimus repudiandae. Sequi reprehenderit, exercitationem nam optio nihil quisquam fugit debitis reiciendis corporis quod laudantium quasi a!</p>
            </div>
        </section>
    </main>
</body>
</html>